@model Squares.ViewModels.ReportViewModel
<style>
    .panel-group .panel {
        overflow: visible;
    }
    [data-action="panelCollapse"] span.glyphicon:before{
        content: "\e113"
    }
    .collapsed[data-action="panelCollapse"] span.glyphicon:before {
          content: "\e114"
    }
</style>
<div class="" id="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach:reportItems">
    <div class="panel panel-default" data-bind="visible:visible">
        <div class="panel-heading" role="tab">
            <div class="row">
                <div class="col-sm-1">
                    <a data-toggle="collapse" class="collapsed" data-action="panelCollapse" data-bind="attr:{'aria-controls':'collapse-'+$data.id(),href:'#collapse-'+$data.id()}" data-parent="#accordion" aria-expanded="true">
                        <span class="glyphicon" aria-hidden="true"></span>
                    </a>
                </div>
                <h4 class="panel-title col-sm-3" data-bind="visible:!editName()">
                    <a href="javascript:void(0)" data-bind="text:name,click:onEditNameClick"></a>
                </h4>
                <div class="col-sm-3" data-bind="visible:editName">
                    <input type="text" class="form-control" data-bind="value:name" />
                </div>
                <div class="col-sm-8">
                    <span class=" glyphicon glyphicon-remove pull-right" aria-hidden="true" data-bind="click:onDeleteItemClick,visible:canSave"></span>
                    <span class="glyphicon glyphicon-floppy-save col-sm-1 pull-right" aria-hidden="true" data-bind="click:onSaveItemClick,visible:canSave"></span>
                    <span class="col-sm-4 pull-right"><small data-bind="text:totalDurationDisplay"></small></span>
                </div>
            </div>
     


     
       

           
        </div>
        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-bind="attr:{id:'collapse-'+$data.id()}">
            <div class="panel-body">
                <div class="row" data-bind="foreach:activityRecords">
                    <div class="row" data-bind="visible:visible">
                        <div class="col-sm-6">
                            <label>Start Date</label>
                            <div class='input-group date'>
                                <input type="text" class="form-control" data-display="startDate" data-bind="attr:{'data-default':startDate().toISOString()}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="badge" data-bind="text:activityState"></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-3">
                                <label>Days</label>
                                <input type="text" class="form-control" data-bind="value:duration.days" />
                            </div>
                            <div class="col-sm-3">
                                <label>Hours</label>
                                <input type="text" class="form-control" data-bind="value:duration.hours" />
                            </div>
                            <div class="col-sm-3">
                                <label>Minutes</label>
                                <input type="text" class="form-control" data-bind="value:duration.minutes" />
                            </div>
                            <div class="col-sm-3">
                                <label>Seconds</label>
                                <input type="text" class="form-control" data-bind="value:duration.seconds" />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible:visible">
                        <div class="col-sm-12">
                            <a href="javascript:void(0)" data-bind="click:onDeleteActivityItemClick">Remove</a>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>


@section scripts{
        <script src="~/Scripts/app/common.js"></script>
        <script src="~/Scripts/app/reporting.js"></script>
       
        <script>
            var viewModel;
            $(function () {
                

                function getReportItems() {
                    $.get(rootPath + 'api/report', function (r) {
                        var vm = { reportItems: [] };
                        for (var i = 0; i < r.ReportItems.length; i++) {
                            var ri = new ReportItem(r.ReportItems[i]);
                            vm.reportItems.push(ri);
                        }
                        viewModel = ko.mapping.fromJS(vm);
                        ko.applyBindings(viewModel);
                        $('[data-display="startDate"]').each(function () {
                            var dp = $(this).datetimepicker({ defaultDate: $(this).data('default') });
                            $(this).on('dp.change', function (e) {
                                var target = ko.dataFor(e.target);
                                target.startDate(e.date._d);

                            });
                        });
                    });

                }
                getReportItems();
            });
        </script>
  
    }
