<div class="row" data-bind="foreach:userSquares">
    <div class="col-sm-4" data-bind="visible:visible">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12 text-center">
                    <div class="input-group">
                        <input type="text" data-bind="value:name" class="form-control" />
                        <div class="input-group-addon">
                            <a href="javascript:void(0)" data-bind="click:onRenameClick"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><small>Days</small></th>


                                <th><small>Hours</small></th>


                                <th><small>Minutes</small></th>


                                <th><small>Seconds</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" data-bind="value:duration.days,event:{change:onDurationEdit}" /></td>
                                <td><input type="text" class="form-control" data-bind="value:duration.hours,event:{change:onDurationEdit}" /></td>
                                <td><input type="text" class="form-control" data-bind="value:duration.minutes,event:{change:onDurationEdit}" /></td>
                                <td><input type="text" class="form-control" data-bind="value:duration.seconds,event:{change:onDurationEdit}" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-default" data-bind="click:onTimerButtonClick,text:timerButtonDisplay"></button>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-default" data-bind="click:onTimerButtonResetClick,visible:canReset">Reset</button>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-default" data-bind="click:onHideButtonClick,visible:canHide">Hide</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-default btn-lg" id="addNew">Add New</button>
    </div>
</div>

    
@section scripts{
<script src="~/Scripts/app/common.js"></script>
<script src="~/Scripts/vendor/tock.mod.js"></script>
<script src="~/Scripts/app/square.js"></script>
    <script>
        function addNew() {
            var id = '00000000-0000-0000-0000-000000000000';
            $.get(rootPath + 'api/Square', { id: id }, function (r) {
                var square = new Square(r);
                viewModel.userSquares.push(square);
            });
        }

        function onTimerButtonClicked(e) {

            for (var i = 0; i < viewModel.userSquares().length; i++) {
                //if any are running
                var t = viewModel.userSquares()[i];
                if (t.id() != e.args.id()) {
                    if (t.data().StopWatch.State == 1) {

                        t.pauseTimer();
                        t.updateState();
                        t.save();
                    }
                }
            }
        }

        function getSquares() {
            $.get(rootPath + 'api/Square', function (r) {
                var vm = { userSquares: [] };

                for (var i = 0; i < r.UserSquares.length; i++) {
                    var src = r.UserSquares[i];
                    var square = new Square(src);
                    vm.userSquares.push(square);

                }
                viewModel = ko.mapping.fromJS(vm);
                ko.applyBindings(viewModel);
            });
        }

        $(function () {
            getSquares();
            $(document).on('click', '#addNew', addNew);
            $(document).on('TimerStateChanged', onTimerButtonClicked);
        });

        var viewModel;
    </script>
}
                   
