<div class="row" data-bind="foreach:userSquares">
    <div class="col-sm-4" data-bind="visible:visible">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12 text-center">
                    <div class="input-group">
                        <input type="text" data-bind="value:name" class="form-control" />
                        <div class="input-group-addon">
                            <a href="javascript:void(0)" data-bind="click:onRenameClick"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><small>Days</small></th>


                                <th><small>Hours</small></th>


                                <th><small>Minutes</small></th>


                                <th><small>Seconds</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" data-bind="value:duration().days,event:{change:onDurationEdit}" /></td>
                                <td><input type="text" class="form-control" data-bind="value:duration().hours,event:{change:onDurationEdit}" /></td>
                                <td><input type="text" class="form-control" data-bind="value:duration().minutes,event:{change:onDurationEdit}" /></td>
                                <td><input type="text" class="form-control" data-bind="value:duration().seconds,event:{change:onDurationEdit}" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-default" data-bind="click:onTimerButtonClick,text:timerButtonDisplay"></button>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-default" data-bind="click:onTimerButtonResetClick,visible:canReset">Reset</button>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-block btn-default" data-bind="click:onHideButtonClick,visible:canHide">Hide</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-default btn-lg" id="addNew">Add New</button>
    </div>
</div>

    
@section scripts{
<script src="~/Scripts/app/common.js"></script>
<script src="~/Scripts/vendor/tock.js"></script>
<script src="~/Scripts/app/square.js"></script>
    <script>
        var viewModel = null;
        function addNewSquare() {
            $.post(rootPath + 'home/AddNewUserSquare', function(r, s) {
                var square = new Square(r);
                viewModel.userSquares.push(square);
            });
        }
        function getSquares() {
            $.get(rootPath + 'api/Square', function (r) {

                var vm = { userSquares: [] };
                for (var i = 0; i < r.UserSquares.length; i++) {
                    var s = new Square(r.UserSquares[i]);
                    vm.userSquares.push(s);
                }
                viewModel = ko.mapping.fromJS(vm);
                ko.applyBindings(viewModel);
            });
        }
        $(function () {
            getSquares();
            $(document).on('click', '#addNew', addNewSquare);

        });
    </script>
}
                   
