@*<style>
        .panel-group .panel {
            overflow: visible;
        }
    </style>*@
<div class="" id="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach:reportItems">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-bind="text:name,attr:{'aria-controls':'collapse-'+$data.id(),href:'#collapse-'+$data.id()}" data-parent="#accordion" aria-expanded="true">
                </a>
                <span class=" glyphicon glyphicon-remove pull-right" aria-hidden="true" data-bind="click:onDeleteItemClick,visible:canSave"></span>
                <span class="glyphicon glyphicon-floppy-save col-sm-1 pull-right" aria-hidden="true" data-bind="click:onSaveItemClick,visible:canSave"></span>
                <span class="col-sm-3 pull-right"><small data-bind="text:totalDurationDisplay"></small></span>
            </h4>
        </div>
        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-bind="attr:{id:'collapse-'+$data.id()}">
            <div class="panel-body">
                <div class="row" data-bind="foreach:activityRecords">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Start Date</label>
                            <div class='input-group date'>
                                <input type="text" class="form-control" data-display="startDate" data-bind="attr:{'data-default':startDate().toISOString()}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span class="badge" data-bind="text:activityState"></span>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-3">
                                <label>Days</label>
                                <input type="text" class="form-control" data-bind="value:duration.days" />
                            </div>
                            <div class="col-sm-3">
                                <label>Hours</label>
                                <input type="text" class="form-control" data-bind="value:duration.hours" />
                            </div>
                            <div class="col-sm-3">
                                <label>Minutes</label>
                                <input type="text" class="form-control" data-bind="value:duration.minutes" />
                            </div>
                            <div class="col-sm-3">
                                <label>Seconds</label>
                                <input type="text" class="form-control" data-bind="value:duration.seconds" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
            <a href="javascript:void(0)" data-bind="click:onDeleteActivityItemClick">Remove</a>

        </div>
                    </div>
            

                </div>

            </div>
        </div>
    </div>

</div>

@section scripts{

    <script src="~/Scripts/app/common.js"></script>
    <script>
        var data = {
            reportItems: [
                {
                    Name: 'Square 1',
                    Id: 'CF8B9C92-803E-4BAC-AFDF-E6182FE7F809',
                    TotalDuration: 36002335,
                    Started: 1433085209700,
                    State: 2,
                    ActivityRecords: [
                        { Id: '6261DEA3-9628-4107-861F-020504C7678A', Elapsed: 36002335, Started: 1433085209700, Ended: 1433085209700 + 36002335 }
                    ]
                },
                { Name: 'Square 2', Id: '8CC51702-D505-4781-B139-AA91C6A9DAF7', TotalDuration: 18302224, Started: 1433075066156, State: 2, ActivityRecords: [] },
                { Name: 'Square 3', Id: '9776F775-EAAD-4B02-9394-58CB9FCE4920', TotalDuration: 3662175, Started: 1433089707377, State: 2, ActivityRecords: [] }
            ]
        }
        var viewModel;

        function getReportItems() {
            $.get(rootPath + 'api/report', function(r) {
                var vm = { reportItems: [] };
                for (var i = 0; i < r.ReportItems.length; i++) {
                    var ri = new ReportItem(r.ReportItems[i]);
                    vm.reportItems.push(ri);
                }
                viewModel = ko.mapping.fromJS(vm);
                ko.applyBindings(viewModel);
                $('[data-display="startDate"]').each(function() {
                    var dp = $(this).datetimepicker({ defaultDate: $(this).data('default') });
                    $(this).on('dp.change', function(e) {
                        var target = ko.dataFor(e.target);
                        target.startDate(e.date._d);

                    });
                });
            });

        }

        //function getReportItems() {
        //    var vm = { reportItems: [] };
        //    for (var i = 0; i < data.reportItems.length; i++) {
        //        var ri = new ReportItem(data.reportItems[i]);
        //        vm.reportItems.push(ri);
        //    }
        //    viewModel = ko.mapping.fromJS(vm);
        //    ko.applyBindings(viewModel);
        //}

        function ActivityRecord(options) {
            var settings = options;
            var duration = common.getDuration(settings.Elapsed);
            var activityState = '';
            switch(settings.State) {
                case 0:
                    activityState = 'None';
                    break;
                case 1:
                    activityState = 'Running';
                    break;
                case 2:
                    activityState = 'Paused';
                    break;
                case 3:
                    activityState = 'Stopped';
                    break;
                default:
                    break;
            }
            console.log(settings.Started);
            var result = {
                activityState: ko.observable(activityState),
                duration: {
                    days: ko.observable(duration.days),
                    hours: ko.observable(duration.hours),
                    minutes: ko.observable(duration.minutes),
                    seconds: ko.observable(duration.seconds),
                    milliseconds: ko.observable(duration.milliseconds)

                },
                id: ko.observable(settings.Id),
                elapsed: ko.observable(settings.Elapsed),
                started: ko.observable(settings.Started),
                ended: ko.observable(settings.Ended),
                startDate: ko.observable(new Date(settings.Started)),
                data: function() {
                    return {
                        Id: result.id(),
                        Elapsed: common.getMS(result.duration),
                        Started: result.startDate().getTime()
                    }
                },
                init: function() {},
                onDeleteActivityItemClick: function() {}
            };

            result.init();
            return result;
        }

        function ReportItem(options) {
            var settings = options;
            var duration = common.getDuration(settings.TotalDuration);

            var activityRecords = [];
            for (var i = 0; i < settings.ActivityRecords.length; i++) {
                var ar = new ActivityRecord(settings.ActivityRecords[i]);
                activityRecords.push(ar);
            }
            var result = {
                activityRecords: (ko.observable(activityRecords)),
                canSave:ko.observable(settings.State != 1),
                duration: {
                    days: ko.observable(duration.days),
                    hours: ko.observable(duration.hours),
                    minutes: ko.observable(duration.minutes),
                    seconds: ko.observable(duration.seconds)
                },
                id: ko.observable(settings.Id),
                name: ko.observable(settings.Name),
                started: ko.observable(settings.Started),
                state: ko.observable(settings.State),
                totalDuration: ko.observable(settings.TotalDuration),
                data: function() {
                    var r = {
                        Name: result.name(),
                        Id: result.id(),
                        TotalDuration: result.totalDuration(),
                        Started: result.started(),
                        State: result.state(),
                        ActivityRecords:[]
                    };
                    for (var i = 0; i < result.activityRecords().length; i++) {
                        r.ActivityRecords.push(result.activityRecords()[i].data());
                    }
                    return r;

                },
                init: function() {},
                onDeleteItemClick: function() {},
                onSaveItemClick: function() {
                    var d = result.data();
                    $.post(rootPath + 'api/Report', d, function(r) {});

                },
            };
            result.totalDurationDisplay = ko.computed(function() {
                return result.duration.days() + ' Days ' + result.duration.hours() + ' Hours ' + result.duration.minutes() + ' Minutes ' + result.duration.seconds() + ' Seconds';
            }, this);
            result.init();
            return result;
        }

        $(function() {
            getReportItems();
        });
    </script>
}
