

@*<div class="col-sm-12" data-bind="with:clock">
    <table class="table">
        <thead>
            <tr>
                <th><small>Days</small></th>


                <th><small>Hours</small></th>


                <th><small>Minutes</small></th>


                <th><small>Seconds</small></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" data-bind="value:days" /></td>
                <td><input type="text" class="form-control" data-bind="value:hours" /></td>
                <td><input type="text" class="form-control" data-bind="value:minutes" /></td>
                <td><input type="text" class="form-control" data-bind="value:seconds" /></td>
            </tr>
        </tbody>
    </table>
</div>*@

@section scripts{

    <script src="~/Scripts/app/common.js"></script>
    <script src="~/Scripts/vendor/tock.mod.js"></script>
    <script>


        


    </script>
}
